@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<div><p></p>
     <br /></div>
<address>
    <br />
    <b>CED SPAIN(BCN/MAD)</b><br />
    -------------<br />
    -------------<br />
    Madrid (XXXXX)<br />
    <abbr title="Phone">P:</abbr> 425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:it-support@cedcloud.com">it-support@cedcloud.com</a><br />
    <strong>Server's Admin:</strong> <a href="mailto:jeroen.vandenbulcke@ced.be">jeroen.vandenbulcke@ced.be</a>
</address>
