@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <b>CED SPAIN</b><br />
    Avda. Alcalde Barnils, 64-68<br />
    Mod:A, Planta: 2<br />
    Sant Cugat del Vallés (08174)<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:it-support@cedcloud.com">it-support@cedcloud.com</a><br />
    <strong>Robot's Admin:</strong> <a href="mailto:victor.gonzalez@ced.es">victor.gonzalez@ced.es</a>
</address>
